/*======================================cadastro de clientes===========================*/

.form-wrapper {
  width: 1005px;
  margin-left: 50px;
  padding: 25px 80px 25px 80px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

.form-group {
  position:relative;  

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  }

  .form-input:focus {
    box-shadow: 0 2px 0 0 lightgreen;
  }

.form-input.filled {
  box-shadow: 0 2px 0 0 red;
}

.btnCadastro{
  position: relative;
  left: 630px;
}

.btnCadastro:hover{
	position: relative;
	left: 630px;
	background-color: lightgreen;
	border:1px solid green;
}


.detalhesProcesso:focus {
    outline: none !important;
    box-shadow: 0 0 10px green;
}

.custom-select {
  position: relative;
  margin-top: 4px;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  }

  .custom-select:focus {
    box-shadow: 0 2px 0 0 lightgreen;
  }

.custom-select.filled {
  box-shadow: 0 2px 0 0 grey;
}
.custom-select option:hover{
   background-color: green;
   color: red;
}

.custom-select option:active{
  background-color: green !important;
  color: red;
}

label span{
  position: relative;
  left: 150px;
  color: lightgreen;
  font-size: 24px;
}

.addBtn{
  position: relative;
  top: -30px;
  float: right;
  background-color: transparent;
  border: none;
}

