.texto{
	font-size: 20px;
}

.controle{
	border:none;
	border-bottom: 2px solid #e0e0e0;
	padding: 0px;
	font-size: 17px;
}

.controle1{
	border:none;
	border-bottom: 2px solid #e0e0e0;
	padding: 0px;
	font-size: 17px;
}

@media screen and (max-width: 500px) {
	.controle1{
		border:none;
		padding: 0px;
	}
}
