@charset "UTF-8";
body, html {
  padding: 0px;
  margin: 0px;
}
body.dark-theme .navbar-custom, html.dark-theme .navbar-custom {
  background-color: #d32f2f;
}
body.dark-theme .navbar-custom1, html.dark-theme .navbar-custom1 {
  background-color: #d32f2f;
}
body.dark-theme .logoTopBar, html.dark-theme .logoTopBar {
  background-color: #c62828;
}
body.dark-theme footer, html.dark-theme footer {
  background-color: #c62828;
}
body.dark-theme footer i, html.dark-theme footer i {
  color: white;
}
body.dark-theme i:hover, html.dark-theme i:hover {
  background-color: #e57373;
}
body.dark-theme nav i, html.dark-theme nav i {
  color: white;
}
body.dark-theme .change, body.dark-theme .corTexto, html.dark-theme .change, html.dark-theme .corTexto {
  color: white;
}
body.dark-theme #dropdownProfile:hover, html.dark-theme #dropdownProfile:hover {
  background-color: #e57373;
}

nav img {
  width: 95px;
  left: 70px;
}

.navbar-custom {
  background-color: #00FF40;
  color: black;
}

.navbar-custom1 {
  background-color: #01DF3A;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #01DF3A;
  text-decoration: none;
}

iframe {
  overflow: hidden;
}

i {
  color: #212121;
}

i:hover {
  color: #757575;
}

#dropdownProfile:hover {
  background-color: #e9e9e9;
}

.perfil {
  width: 40px;
}

.botaoPesquisa {
  border: 1px solid #6C757D;
}

.wrapper {
  position: relative;
  margin-left: -18px;
}

.bordaCinza {
  text-align: justify;
  border-left: 1px solid #bdbdbd;
  margin-left: -15px;
}

.borda {
  text-align: justify;
  border-right: 1px solid #bdbdbd;
  width: 80px;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #D8D8D8;
  height: 35px;
  align-items: center;
}

.tabela {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded=false] .submenu-icon::after {
  content: " ";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded=true] .submenu-icon::after {
  content: " ";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.transparente {
  background-color: transparent;
}

footer {
  width: 100%;
  background-color: #01DF3A;
}

#redesSociais li {
  display: inline;
}

.logoTopBar {
  background-color: #01DF3A;
}

.margem {
  top: 100px;
}

.tamanhi {
  font-size: 18px;
}

.form-group {
  position: relative;
  margin-bottom: 45px;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #01DF3A;
}

.aumentar {
  font-size: 20px;
  margin-left: 6px;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  transform: translate3d(0, -110%, 0);
  opacity: 1;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.espaco {
  padding: 3px;
}

.espacoBorda {
  margin-left: 10px;
  border-left: 1px solid #bdbdbd;
}

@media only screen and (min-width: 768px) {
  .logoTopBar {
    /*background-size: 100px;*/
    margin-left: -16px;
    margin-top: -10px;
    height: 5em;
    min-width: 148px;
    max-width: 148px;
    margin-bottom: -8px;
  }

  .tamanho {
    width: 150px !important;
  }

  .tamanhoMaior {
    width: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .imagemRodape {
    height: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .logoTopBar {
    /*background-size: 100px;*/
    margin-left: -16px;
    margin-top: -10px;
    height: 5em;
    min-width: 158px;
    max-width: 158px;
    margin-bottom: -8px;
  }

  .tamanho {
    width: 160px !important;
  }

  .imagemRodape {
    height: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav1 {
    margin-left: 10% !important;
  }

  .logoTopBar {
    /*background-size: 100px;*/
    margin-left: -16px;
    margin-top: -10px;
    height: 5em;
    min-width: 198px;
    max-width: 198px;
    margin-bottom: -8px;
  }

  .tamanho {
    width: 200px !important;
  }

  .tamanhoMaior {
    width: 30px;
  }
}

/*# sourceMappingURL=estilo.css.map */
